<!doctype html>
<html>

<head>
  <title><%- title %></title>

  <link rel="stylesheet" href="/assets/global.css" />
</head>

<body>
  <app><%- content %></app>

  <script src="/assets/scripts/browser/index.js" type="module"></script>
</body>

</html>
