<!doctype html>
<html>

<head>
  <title><%- title %></title>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <link rel="stylesheet" href="/assets/global.css" />
</head>

<body>
  <app><%- content %></app>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

  <script src="/assets/scripts/browser/index.js" type="module"></script>
</body>

</html>
